 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 541px;
}

.u-section-1 .u-image-1 {
  width: 494px;
  height: 276px;
  margin: 27px auto 0;
}

.u-section-1 .u-text-1 {
  margin: 38px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: 277px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 191px;
  }
}